octree/build
octree/external
tensorflow/libs/object
tensorflow/libs/Makefile
tensorflow/libs/libocnn.so
caffe-official
*.pyc
*.vscode
*.zip
caffe/experiments/dataset
caffe/experiments/ae_output
caffe/experiments/models
tensorflow/script/dataset
tensorflow/script/logs
